<table class="front" summary="Main page">
  <tr>
    <td class="main">
      <h1 class="car">Gas Mix calculator</h1>
    </td>
  </tr>
  <tr>
    <td class="results">
      <span class="content"><%= "Fill up with #{@amount_to_fill} gallons of #{@boost_octane} octane" %></span>
    </td>
  </tr>
  <tr>
    <td class="results">
      <span class="content"><%= "and the rest with #{@base_octane} octane to achieve #{@target_octane} octane" %></span>
    </td>
  </tr>
</table>